{% extends 'base.html.twig' %}

{% block title %}Hello EncyclopedieController!
{% endblock %}

{% block body %}

	{% for plant in plants %}
		{% for image in plant.images|slice(0,1)  %}
			<div class="card m-5" style="width: 18rem;">
				<img src="{{ asset('/uploads/' ~ image.name)}}" class="card-img-top"/>
				<div class="card-body">
					<h5 class="card-title">{{ plant.frenchName }}</h5>
					<a href="{{ path('encyclopedie_show', {'id': plant.id}) }}" class="btn btn-primary">Voir en détail</a>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}
