{% extends 'base.html.twig' %}

    
     {% block title %}Home Controller!{% endblock %}

     {% block body %}
          <h1>{{ block('title') }}</h1>

     <h1 class="text-center">Welcome to BEGREEN!</h1>


     {% endblock %}
     

    





    
