
  <footer class="mt-auto text-white-50">
    <p>Begreen <a href="https://fondespierre.com/nos-poles-de-competences/begreen/" class="text-white">Footer</a>, par <a href="https://fondespierre.com/nos-poles-de-competences/beweb-ecole-numerique/" class="text-white">@Beweb</a>.</p>
  </footer>
