 
 <head>
      <style>
      .masthead {
        width: auto;
        height: 900px;
        position: relative;
        {# background-repeat: no-repeat; #}
        {# background: cover; #}

      
      }
    </style>
 </head>

<body class="h-100 text-center text-white bg-dark">
  <header class="mb-auto">
    <div <header class="masthead" style="background-image: url('https://www.azero.fr/wp-content/uploads/2018/02/photo-propri%C3%A9t%C3%A9s.jpg')">
>
      <h3 class="float-md-start mb-0">BEGREEN</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link alert alert-light" href="#" class="text-color-white">Encyclopedie</a>
        <a class="nav-link" href="#">Login</a>
      </nav>
    </div>
  </header>
  </body>